<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::layout(~{::title}, ~{::section})}">
<head>
<meta charset="UTF-8">
<title>Register Page</title>
</head>
<body>
	<section>
		<div class="container mt-4 mb-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
								<h3>Login Page</h3>
							<th:block th:if="${param.logout}">
								<p class="text-center text-success fs-4">Logout successfully
							</th:block>
							<th:block th:if="${param.error}">
								<p class="text-center text-danger fs-4">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
							</th:block>
							
								
						</div>
						<div class="card-body">
							<form action="userLogin" method="post">
								
 								
 								<div class="mb-3">
									<label>Enter your Email</label>
									<input type="email" name="username" class="form-control"/>
 								</div>
									
 								
 								<div class="mb-3">
									<label>Enter Password</label>
									<input type="text" name="password" class="form-control"/>
 								</div>

 								<button class="btn btn-primary col-md-12 mb-2"> Login</button>
 								
							
							</form>
						</div>
						<div class="card-footer text-center">
							<p class="fs-6"> Don't have account <a href="/register" class="text-decoration-none">register</a>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</section>
</body>
</html>